*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.contenedor_general{
    background-image: url(img/astronauta-perdido-en-el-espacio.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.buscador_y_btn{display: flex;}

.btn_search{
    all: initial;
    background-color: rgb(210, 66, 223);
    color: white;
    width: 100px;
    text-align: center;
}

.btn_search:hover{
    background-color: rgb(121, 10, 131);
    cursor: pointer;
}

.inputext_location_icon{
    background-color: white;
    height: 50px;
    display: flex;
    align-items: center;
}

.input_text{
    border: none;
    background-color: transparent;
    outline: none;
    width: 400px;
    height: 40px;
    padding-left: 5px;
    margin-left: 5px;
}

.title{
    color: white;
    font-size: 75px;
}

.icon{margin-left: 10px;}

.tipo_letra{font-family: 'Lato', sans-serif;}